<div class="popupAjoutCollab">

	<div class="modal-header row">
		<h3 class="modal-title">NOUVEAU COLLABORATEUR</h3>
	</div>
	<div class="modal-body">
	
		<span class="text-danger">{{messageErreur}}</span>
		
		<form name="form" class="form-horizontal formulaireNewCollab" id="form1" ng-submit="enregistrer()" novalidate >
			<div class="row inputAjoutCollab form-group">
				<div class="col-md-offset-2 col-md-6">
					<input type="text" class="form-control" placeholder="Nom" uppercase-only ng-model="nom" name="cNom" required/>
				</div>
				<span class="col-md-1 text-danger etoileObligatoire">*</span>
				<div class="col-md-3 champsVide">
					<div ng-messages="form.cNom.$error">
						 <div ng-message="required" ng-if="form.$submitted || form.cNom.$touched" class="text-danger">Nom requis</div>
					</div>
				</div>
			</div>
			<div class="row inputAjoutCollab form-group">
				<div class="col-md-offset-2 col-md-6">
					<input type="text" class="form-control" placeholder="Prénom" ng-model="prenom" name="cPrenom" />
				</div>
				<span class="col-md-1 text-danger etoileObligatoire">*</span>
				<div class="col-md-3 champsVide">
					<div ng-messages="form.cPrenom.$error">
						 <div ng-message="required" ng-if="form.$submitted || form.cPrenom.$touched" class="text-danger">Prénom requis</div>
						 <div ng-message="username" class="text-danger">Ce collaborateur est déjà enregistré!!!</div>
					</div>
				</div>
			</div>
			<div class="row inputAjoutCollab form-group">
				<div class="col-md-offset-2 col-md-6">
					<input type="text" class="form-control" placeholder="Poste" ng-model="poste" name="cPoste" required />
				</div>
				<span class="col-md-1 text-danger etoileObligatoire">*</span>
				<div class="col-md-3 champsVide">
					<div ng-messages="form.cPoste.$error">
						<div ng-message="required" ng-if="form.$submitted || form.cPoste.$touched" class="text-danger">Poste requis</div>
					</div>
				</div>
			</div>
			<div class="row inputAjoutCollab form-group">
				<div class="col-md-offset-2 col-md-6">
					<select id="listeBureaux" ng-model="bureau" class="form-control" name="cBureau"
						ng-options="bureau for bureau in bureaux" ng-init="bureau = bureaux[0]" required="">
					</select>
				</div>
				<span class="col-md-1 text-danger etoileObligatoire">*</span>
			</div>
			<div class="row inputAjoutCollab form-group">
				<div class="col-md-offset-2 col-md-6">
					<select id="listeFonctions" ng-model="fonction" 
						class="form-control" name="cLibFonction" ng-options="fonction for fonction in fonctionsAAfficher[0].libFonction" 
						ng-init="fonction = fonctionsAAfficher[0].libFonction[0]" required="">
					</select>
				</div>
				<span class="col-md-1 text-danger etoileObligatoire">*</span>
			</div>
			<div class=" inputAjoutCollab form-group">
				<div class="divPhoto row">
					<input type="file" ng-model="localPhoto" src="localPhoto" file-changed class="col-md-offset-2 col-md-offset-6 explorateur"/>
					<img file-preview="localPhoto" class="col-md-offset-3 col-md-offset-6 champsPhoto"/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer row">
		<div class="col-md-9">
			<button class="btn btn-primary " type="submit" form="form1">OK</button>
			<button class="btn btn-warning" type="button" ng-click="annuler()">Annuler</button>
			<button class="btn btn-danger" type="button" ng-click="quitter()">Quitter</button>
		</div>
	</div>
</div>
